<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.DepartmentMapper">

  <insert id="insertSelective" parameterType="com.jsh.erp.datasource.entities.Department"
          useGeneratedKeys="true"
          keyProperty="departmentId">
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>

      <if test="sort != null">
        sort,
      </if>

      <if test="tenantId != null">
        tenant_id,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>

      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>

      <if test="managerId != null">
        #{managerId,jdbcType=BIGINT},
      </if>

      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>

      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>

      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>


    </trim>
  </insert>

  <select id="listAll" resultType="com.jsh.erp.datasource.entities.Department">
    SELECT t_department.*,
    t_employee.actual_name   as managerName,
    parent_department.`name` as parentName
    FROM t_department
    left join t_employee on t_department.manager_id = t_employee.employee_id
    left join t_department parent_department on t_department.parent_id = parent_department.department_id
    order by sort desc
  </select>

  <select id="countSubDepartment" resultType="java.lang.Integer">
    SELECT count(*)
    FROM t_department
    WHERE parent_id = #{departmentId}
  </select>

  <select id="listByTenantId" resultType="com.jsh.erp.datasource.entities.Department">
    SELECT t_department.*,
    t_employee.actual_name   as managerName,
    parent_department.`name` as parentName
    FROM t_department
    left join t_employee on t_department.manager_id = t_employee.employee_id
    left join t_department parent_department on t_department.parent_id = parent_department.department_id
    WHERE t_department.tenant_id = #{tenantId}
    order by sort desc
  </select>

</mapper>